.slide-to-left {
    animation: slide-to-left 1s;
}

.slide-to-right {
    animation: slide-to-right 1s;
}

.return-to-origin-from-right {
    animation: return-to-origin-from-right 1s;
}

.return-to-origin-from-left {
    animation: return-to-origin-from-left 1s;
}

@keyframes slide-to-left {
    0% {
        transform: translateX(0%);
        opacity: 1;
    }
    99% {
        transform: translateX(-99%);
        opacity: 1;
    }
    100% {
        transform: translateX(-100%);
        opacity: 0;
    }
}

@keyframes slide-to-right {
    0% {
        transform: translateX(0);
        opacity: 1;
    }
    99% {
        transform: translate(99%);
        opacity: 1;
    }
    100% {
        transform: translateX(100%);
        opacity: 0;
    }
}

@keyframes return-to-origin-from-right {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes return-to-origin-from-left {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}