#index-footer * {
    box-sizing: border-box;
}

#index-footer .pull-left {
    float: left;
}

#index-footer .pull-right {
    float: right;
}

#index-footer .container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: 20px;
    margin-left: 20px;
    box-sizing: border-box;
}

#index-footer .row {
    margin-right: -15px;
    margin-left: -15px;
}

#index-footer .row:before, .container:before {
    display: table;
    content: ' ';
}

#index-footer .row:after, .container:after {
    clear: both;
    display: table;
    content: ' ';
}

#index-footer :after, :before {
    box-sizing: border-box;
}

#index-footer .col {
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

#index-footer .col-md-4 {
    width: 33.333333333333%;
    float: left;
    display: inline-block;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

#index-footer .col-md-8 {
    width: 66.666666666667%;
    float: left;
    display: inline-block;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

#index-footer .col-md-5 {
    width: 41.666666666667%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

#index-footer .col-md-6 {
    width: 50%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

#index-footer .col-md-7 {
    width: 58.3333333333%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

#index-footer .col-md-1 {
    width: 8.3333333%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

#index-footer .col-md-3 {
    width: 25%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

#index-footer .col-md-2 {
    width: 16.6666666667%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

#index-footer a.round-button {
    text-decoration: none;
    border: solid 2px #A23F43;
    padding: 8px 13px;
    border-radius: 30px;
    white-space: nowrap;
}

#index-footer a.round-button:hover, a.round-button:active {
    background-color: white;
}

#index-footer img {
    vertical-align: middle;
}

#index-footer .media, .media-body {
    overflow: hidden;
    zoom: 1;
    margin-top: 15px;
}

#index-footer .media-body, .media-left, .media-right {
    display: table-cell;
    vertical-align: top;
}

#index-footer .media .media-left i.icon {
    text-align: center;
}

#index-footer .media-body p {
    margin-top: 0;
    margin-bottom: 0;
}

#index-footer .media-body h5 {
    margin-top: 0;
}

#index-footer .media-left, .media > .pull-left {
    padding-right: 10px;
}

#index-footer .arrow {
    font-size: x-large;
    color: #868689 !important;
    text-decoration: none;
    font-family: monospace;
    font-weight: bold;
    display: inline-block;
    height: 28px;
    line-height: 28px;
    width: 28px;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#index-footer .arrow img {
    cursor: pointer;
}

#index-footer .arrow span {
    line-height: 100%;
    display: block;
    margin: 0;
    height: 100%;
    width: 100%;
    padding: 1px 0 0;
}

#index-footer .to-top {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

#index-footer .to-top a#to-top-link {
}

#index-footer .big-title {
    color: #333333;
    font-weight: bold;
    font-size: 28pt;
    font-family: 'Microsoft YaHei', monospace;
}

#index-footer .small-title {
    color: #333333;
    font-weight: bold;
    font-size: 16pt;
    font-family: 'Microsoft YaHei', monospace;
}

#index-footer .footer-content {
    color: #333;
    font-weight: normal;
    font-size: 14pt;
    font-family: 'Microsoft YaHei', monospace;
}

#index-footer ul.footer-content {
    margin: 0 0 0 0.7em;
    padding: 0;
    list-style-type: none;
}

#index-footer ul.footer-content li:before {
    content: '-';
    position: absolute;
    margin-left: -0.7em;
}

#index-footer .strong-content {
    font-family: 'Microsoft YaHei', monospace;
    font-size: 14pt;
    font-weight: bold;
    color: #666;
}

#index-footer .normal-content {
    font-family: 'Microsoft YaHei', monospace;
    font-size: 14pt;
    font-weight: normal;
    color: #666;
}

#index-footer .justify.aligned {
    text-align: justify;
}

#index-footer .right.aligned {
    text-align: right;
}

#index-footer ul.horizontal {
    list-style-type: none;
    display: inline-block;
}

#index-footer ul.horizontal li {
    float: left;
    margin-right: 10px;
}

#index-footer ul.horizontal li:last-child {
    margin-right: 0;
}

#index-footer ul.horizontal li:last-child:after {
    content: '';
    display: block;
    float: none;
    clear: both;
}

#index-footer .ui.embed {
    position: relative;
    max-width: 100%;
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
}

#index-footer .ui.embed video {
    width: 100% !important;
    height: auto !important;
}

#index-footer hr.red.line {
    border-top: none;
    border-bottom: solid 2px #e61c36 !important;
}

#index-footer .horizontal.very.relaxed.container {
    padding-left: 80px;
    padding-right: 80px;
}

#index-footer .horizontal.very.padded.container {
    padding: 35px 25px;
}

#index-footer .owl-prev {
    position: absolute;
    left: 0;
    top: 45%;
}

#index-footer .owl-next {
    position: absolute;
    right: 0;
    top: 45%;
}

#index-footer .clear {
    clear: both;
    float: none;
}

@media screen and (max-width: 1500px) {

    #index-footer .col-md-4 {
        padding-right: 8px;
        padding-left: 8px;
    }

    #index-footer .col-md-8 {
        padding-right: 8px;
        padding-left: 8px;
    }

    #index-footer .col-md-5 {
        padding-right: 8px;
        padding-left: 8px;
    }

    #index-footer .col-md-6 {
        padding-right: 8px;
        padding-left: 8px;
    }

    #index-footer .col-md-7 {
        padding-right: 8px;
        padding-left: 8px;
    }

    #index-footer .col-md-1 {
        padding-right: 8px;
        padding-left: 8px;
    }

    #index-footer .col-md-3 {
        padding-right: 8px;
        padding-left: 8px;
    }

    #index-footer .col-md-2 {
        padding-right: 8px;
        padding-left: 8px;
    }
}

@media screen and (min-width: 1200px) {

    #index-footer .col-md-4 {
        padding-right: 20px;
        padding-left: 20px;
    }

    #index-footer .col-md-8 {
        padding-right: 20px;
        padding-left: 20px;
    }

    #index-footer .col-md-5 {
        padding-right: 20px;
        padding-left: 20px;
    }

    #index-footer .col-md-6 {
        padding-right: 20px;
        padding-left: 20px;
    }

    #index-footer .col-md-7 {
        padding-right: 20px;
        padding-left: 20px;
    }

    #index-footer .col-md-1 {
        padding-right: 20px;
        padding-left: 20px;
    }

    #index-footer .col-md-3 {
        padding-right: 20px;
        padding-left: 20px;
    }

    #index-footer .col-md-2 {
        padding-right: 20px;
        padding-left: 20px;
    }
}

@media screen and (max-width: 900px) {

    #index-footer .col-md-4 {
        padding-right: 8px;
        padding-left: 8px;
        width: 31.555555555556%;
    }

    #index-footer .col-md-8 {
        padding-right: 8px;
        padding-left: 8px;
        width: 48.222222222222%;
    }

    #index-footer .col-md-5 {
        padding-right: 8px;
        padding-left: 8px;
        width: 31.555555555556%;
    }

    #index-footer .col-md-6 {
        padding-right: 8px;
        padding-left: 8px;
        width: 48.222222222222%;
    }

    #index-footer .col-md-7 {
        padding-right: 8px;
        padding-left: 8px;
        width: 48.222222222222%;
    }

    #index-footer .col-md-1 {
        padding-right: 8px;
        padding-left: 8px;
        width: 6.555555555556%;
        display: none;
    }

    #index-footer .col-md-3 {
        padding-right: 8px;
        padding-left: 8px;
        width: 31.555555555556%;
    }

    #index-footer .col-md-2 {
        padding-right: 8px;
        padding-left: 8px;
        width: 31.555555555556%;
    }
}

@media screen and (max-width: 700px) {

    #index-footer .col-md-4 {
        padding-right: 4px;
        padding-left: 4px;
        width: 48.857142857143%;
    }

    #index-footer .col-md-8 {
        padding-right: 4px;
        padding-left: 4px;
        width: 48.857142857143%;
    }

    #index-footer .col-md-5 {
        padding-right: 4px;
        padding-left: 4px;
        width: 48.857142857143%;
    }

    #index-footer .col-md-6 {
        padding-right: 4px;
        padding-left: 4px;
        width: 48.857142857143%;
    }

    #index-footer .col-md-7 {
        padding-right: 4px;
        padding-left: 4px;
        width: 48.857142857143%;
    }

    #index-footer .col-md-1 {
        width: 0;
        display: none;
    }

    #index-footer .col-md-3 {
        padding-right: 4px;
        padding-left: 4px;
        width: 48.857142857143%;
    }

    #index-footer .col-md-2 {
        padding-right: 4px;
        padding-left: 4px;
        width: 48.857142857143%;
    }
}

@media screen and (max-width: 500px) {

    #index-footer .col-md-4 {
        padding-right: 4px;
        padding-left: 4px;
        width: 98.4%;
    }

    #index-footer .col-md-8 {
        padding-right: 4px;
        padding-left: 4px;
        width: 98.4%;
    }

    #index-footer .col-md-5 {
        padding-right: 4px;
        padding-left: 4px;
        width: 98.4%;
    }

    #index-footer .col-md-6 {
        padding-right: 4px;
        padding-left: 4px;
        width: 98.4%;
    }

    #index-footer .col-md-7 {
        padding-right: 4px;
        padding-left: 4px;
        width: 98.4%;
    }

    #index-footer .col-md-1 {
        width: 0;
        display: none;
    }

    #index-footer .col-md-3 {
        padding-right: 4px;
        padding-left: 4px;
        padding-right: 4px;
        padding-left: 4px;
        width: 98.4%;
    }

    #index-footer .col-md-2 {
        padding-right: 4px;
        padding-left: 4px;
        padding-right: 4px;
        padding-left: 4px;
        width: 98.4%;
    }
}