#index-footer .carousel {
    position: relative;
    overflow: hidden;
}

#index-footer .carousel .carousel-inner {
    width: 300%;
    position: static;
}

#index-footer .carousel .item {
    display: none;
    text-align: center;
}

#index-footer .carousel .item.active {
    display: block;
}

#index-footer .carousel .item .media {
    text-align: left;
}

#index-footer .carousel .nav-bar .prev {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: .5;
    width: 1.6rem;
    height: 2.3rem;
    line-height: 2.3rem;
    border-radius: 2px;
    text-align: center;
    color: white;
    top: 45%;
    cursor: pointer;
}

#index-footer .carousel .nav-bar .next {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: .5;
    width: 1.6rem;
    height: 2.3rem;
    line-height: 2.3rem;
    border-radius: 2px;
    text-align: center;
    right: 0;
    color: white;
    top: 45%;
    cursor: pointer;
}
