#index-footer {
    font-family: 'Lato', sans-serif;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    color: #5a5a5a;
    background-color: #f5f5f5;
}

#index-footer p {
    font-family: 'Open Sans', sans-serif;
}

#index-footer p.intro {
    font-size: 16px;
    margin: 12px 0 0;
    line-height: 24px;
    font-family: 'Open Sans', sans-serif;
}

#index-footer a {
    color: #000;
}

#index-footer a:hover,
#index-footer a:focus {
    text-decoration: none;
    color: #000;
}

#index-footer .section-title hr {
    border-color: #fcac45;
    border-width: 4px;
    width: 60px;
    float: left;
    clear: both;
}

#index-footer .clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

#index-footer .clearfix {
    display: inline-block;
}

#index-footer * .clearfix {
    height: 1%;
}

#index-footer .clearfix {
    display: block;
}

#index-footer ul, ol {
    padding: 0;
    webkit-padding: 0;
    moz-padding: 0;
}

#index-footer .content {
    position: relative;
    padding: 20% 0 0;
}

#index-footer .section-title.center {
    padding: 30px 0;
}

#index-footer .section-title h2,
#index-footer .section-title.center h2 {
    font-weight: 300;
}

#index-footer .section-title.center .line {
    border-top: 4px solid #fcac45;
    height: 10px;
    width: 60px;
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;
}

#index-footer .section-title.center hr {
    border-top: 4px solid rgba(252, 172, 69, 0.34);
    width: 40px;
    text-align: center;
    margin-top: 10px;
    position: relative;
    left: 17%;
}

#index-footer #bottom {
    background-color: #f5f5f5;
    color: black;
    padding: 20px 30px 20px 60px;
    font-family: 'Lato', sans-serif;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
}

#index-footer #bottom hr {
    border-top: none;
    border-bottom: dashed 1px black;
}

#index-footer button.btn.tf-btn.btn-default {
    float: right;
    background: #FCAC45;
    border: 0;
    border-radius: 0;
    padding: 10px 40px;
    color: #ffffff;
    text-transform: uppercase;
}

#index-footer .btn:active, .btn.active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#index-footer .btn:focus,
#index-footer .btn:active:focus,
#index-footer .btn.active:focus,
#index-footer .btn.focus,
#index-footer .btn:active.focus,
#index-footer .btn.active.focus {
    outline: thin dotted;
    outline: none;
    outline-offset: none;
}

#index-footer ul.about-list {
    margin: 30px 0 0;
}

#index-footer ul.about-list li {
    display: block;
    font-size: 16px;
    line-height: 30px;
    font-family: 'Open Sans', sans-serif;
    color: #868689;
}

#index-footer ul.about-list li a {
    color: #868689;
    text-decoration: none;
}

#index-footer ul.about-list li span {
    margin-right: 10px;
}

#index-footer .text-column {
    padding: 10px 30px 50px 30px;
    border: solid 1px #ccc;
}

#index-footer ul.horizontal.about-us.icon.links a {
    text-decoration: none;
    display: inline-block;
    width: 30px;
    height: 30px;
}

#index-footer ul.horizontal.about-us.icon.links a.about-us {
    background-image: url('/bower/bridgeplus_ui/public/images/about-us/aboutus.png');
}

#index-footer ul.horizontal.about-us.icon.links a.about-us:hover,
#index-footer ul.horizontal.about-us.icon.links a.about-us.active {
    background-image: url('/bower/bridgeplus_ui/public/images/about-us/aboutus_r.png');
}

#index-footer ul.horizontal.about-us.icon.links a.team {
    background-image: url('/bower/bridgeplus_ui/public/images/about-us/Team.png');
}

#index-footer ul.horizontal.about-us.icon.links a.team:hover,
#index-footer ul.horizontal.about-us.icon.links a.team.active {
    background-image: url('/bower/bridgeplus_ui/public/images/about-us/Team_r.png');
}

#index-footer ul.horizontal.about-us.icon.links a.video {
    background-image: url('/bower/bridgeplus_ui/public/images/about-us/bVideo.png');
}

#index-footer ul.horizontal.about-us.icon.links a.video:hover,
#index-footer ul.horizontal.about-us.icon.links a.video.active {
    background-image: url('/bower/bridgeplus_ui/public/images/about-us/bVideo_r.png');
}

#index-footer ul.horizontal.about-us.icon.links a.contact-us {
    background-image: url('/bower/bridgeplus_ui/public/images/about-us/mail.png');
}

#index-footer ul.horizontal.about-us.icon.links a.contact-us:hover,
#index-footer ul.horizontal.about-us.icon.links a.contact-us.active {
    background-image: url('/bower/bridgeplus_ui/public/images/about-us/mail_r.png');
}

#index-footer ul.horizontal.about-us.icon.links a.join-us {
    background-image: url('/bower/bridgeplus_ui/public/images/about-us/Join.png');
}

#index-footer ul.horizontal.about-us.icon.links a.join-us:hover,
#index-footer ul.horizontal.about-us.icon.links a.join-us.active {
    background-image: url('/bower/bridgeplus_ui/public/images/about-us/Join_r.png');
}