mixin rightArrow(url)
    div.widget.to-right(style="position: absolute; top: 0; bottom: 0; right: 0; padding: inherit; display: inline-block;")
        img(src="", style="height: 100%; width: 0; visibility: hidden; border: none;")
        a#to-right-link.arrow(href="#{url}")
            img(src="/bower/bridgeplus_ui/public/images/GO.png")