mixin video(video)
    if video
        div(data-modal-selector=".mask.#{video.className}", style="border: solid 1px gray;")
            br
            //video(width="160", height="120", controls, style="width: 100%; height: 100%;")
                source(src="#{video.mp4}", type="video/mp4")
            img(src="/bower/bridgeplus_ui/public/images/ABOUT.png")
        p
            strong #{video.title}

mixin videos(a)
    div.row
        div.col-md-4
            + video(a[0])
        div.col-md-4
            + video(a[1])
        div.col-md-4
            + video(a[2])
    div.row
        div.col-md-4
            + video(a[3])
        div.col-md-4
            + video(a[4])
        div.col-md-4
            + video(a[5])