mixin video(video)
    if video
        div.ui.embed(data-modal-selector=".mask.#{video.className}")
            video(width="320", height="240", controls, preload="none", poster="#{video.poster}")
                source(src="#{video.mp4}")
        p
            strong #{video.title}
        br

mixin videos(a)
    div.row
        div.col-md-4
            + video(a[0])
        div.col-md-4
            + video(a[1])
        div.col-md-4
            + video(a[2])
    div.row
        div.col-md-4
            + video(a[3])
        div.col-md-4
            + video(a[4])
        div.col-md-4
            + video(a[5])