mixin video(video)
    if video
        div(data-modal-selector=".mask.#{video.className}", class="video-poster", style="background-image:url(#{video.poster})")
        p
            strong #{video.title}

mixin videos(a)
    div.row
        div.col-md-4
            + video(a[0])
        div.col-md-4
            + video(a[1])
        div.col-md-4
            + video(a[2])
    div.row
        div.col-md-4
            + video(a[3])
        div.col-md-4
            + video(a[4])
        div.col-md-4
            + video(a[5])