template#index-footer
    style(type="text/css").
        @import url("/stylesheets/style.css");
        @import url("/stylesheets/index.css");
        @import url("/stylesheets/carousel.css");
        @import url("/stylesheets/modal.css");

    include partial/footer
    include partial/share-footer

script.
    var template = document.currentScript.ownerDocument.querySelector('#index-footer');

    var IndexFooterProto = Object.create(HTMLElement.prototype);
    IndexFooterProto.createdCallback = function () {
        var root = this.createShadowRoot();
        var clone = document.importNode(template.content, true);

        root.appendChild(clone);
    };

    var IndexFooter = document.registerElement('index-footer', {prototype: IndexFooterProto});