extends layout

mixin teacher(image)
    div
        h3 &nbsp;
        img(src="#{image}")
        div.media
            div.media-left
                i.fa.fa-user.icon(aria-hidden="true", style="background-color: #A04040; color: white; height: 32px; line-height: 32px; width: 32px;")
            div.media-body
                p(style="font-size: x-small;") HCD 合得合伙人兼首席财务官
                h5 周国元 Joseph Zhou

block header
    link(rel='stylesheet', href='/stylesheets/index.css')
    link(rel="stylesheet", href="/bower_components/owl.carousel/dist/assets/owl.carousel.min.css")
    link(rel="stylesheet", href="/bower_components/owl.carousel/dist/assets/owl.theme.default.min.css")

block content
    section#top
        div.container
            div.pull-right
                img(src="/images/logo.png", style="height: 40px;")
    div.container.to-top
        a(href="#")
            i.fa.fa-arrow-circle-o-up(aria-hidden="true")
    section#bottom
        div.container
            div.row(style="position: relative;")
                div.col-md-4.col-sm-8
                    div.widget
                        h2 Title / Title / Title
                            | &nbsp;&nbsp;
                            i.fa.fa-youtube-play(aria-hidden="true", style="color: #ccc")
                        br
                        h4 Heading
                        p content / content / content / contentcontent / content / content / contentcontent / content / content / contentcontent / content / content / contentcontent / content / content / content
                        br
                        hr
                        h4 Heading
                        p content / content / content / contentcontent / content / content / contentcontent / content / content / contentcontent / content / content / contentcontent / content / content / content
                        br
                        div
                            | 我是导师...
                            | &nbsp;
                            a.round-button(href="#") 进入导师平台
                div.col-md-1.col-sm-1
                div.col-md-3.col-sm-6
                    div.widget
                        h3
                        div.owl-carousel.owl-theme
                            + teacher("http://web.c-gp.com/content/themes/cgpweb/img/anime_osa.gif")
                            + teacher("http://web.c-gp.com/content/themes/cgpweb/img/anime_higashi.gif")
                            + teacher("http://web.c-gp.com/content/themes/cgpweb/img/anime_murakoshi.gif")

                div.col-md-3.col-sm-6
                    div.widget
                        h1 &nbsp;
                        div.text-column
                            h3(style="white-space: nowrap;") KEY SERVICES
                            ul.about-list
                                li
                                    span.glyphicon.glyphicon-picture
                                    a(href="#") - content
                                li
                                    span.glyphicon.glyphicon-globe
                                    a(href="#") - content
                                li
                                    span.fa.fa-dot-circle-o
                                    a(href="#") - content
                                li
                                    span.glyphicon.glyphicon-list-alt
                                    a(href="#") - content
                                li
                                    span.glyphicon.glyphicon-star-empty
                                    a(href="#") - content
                div.col-md-1.col-sm-1(style="position: static; text-align: right;")
                    div.widget.to-right(style="position: absolute; top: 0; bottom: 0; right: 0; padding: inherit; display: inline-block;")
                        img(src="", style="height: 100%; width: 0; visibility: hidden; border: none;")
                        a(href="#")
                            i.fa.fa-arrow-circle-o-right(aria-hidden="true", style="font-size: xx-large;")
block js
    script(src="/bower_components/owl.carousel/dist/owl.carousel.min.js")
    script.
        $(document).ready(function () {
            $('.owl-carousel').owlCarousel({
                items: 1,
                lazyLoad: true,
                loop: true,
                autoplayTimeout: 8000,
                autoplayHoverPause: true,
                nav: true,
                navRewind: true,
                smartSpeed: 500,
                navText: ['<i class="fa fa-chevron-left"></i>', '<i class="fa fa-chevron-right"></i>'],
                autoHeight: true
            });
        });