link(rel='stylesheet', href='/bower/bridgeplus_ui/public/stylesheets/style.css')
link(rel='stylesheet', href='/bower/bridgeplus_ui/public/stylesheets/index.css')
link(rel="stylesheet", href="/bower/bridgeplus_ui/public/stylesheets/carousel.css")
link(rel="stylesheet", href="/bower/bridgeplus_ui/public/stylesheets/modal.css")
include partial/footer
include partial/share-footer