link(rel='stylesheet', href='/stylesheets/style.css')
link(rel='stylesheet', href='/stylesheets/index.css')
link(rel="stylesheet", href="/stylesheets/carousel.css")
link(rel="stylesheet", href="/stylesheets/modal.css")
include partial/footer
include partial/share-footer