doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        block header
    body
        block content
        nav#footer
            div.container
                div.pull-left.fnav
                    p © 2016 Bridge+ Reserved | 沪ICP备13045400号
                div.pull-right.fnav
                    ul.footer-social
                        li
                            img(src="/images/bplus_fuwuhao_noborder.jpg", width="60")

        script(src="/bower_components/jquery/dist/jquery.min.js")
        script(src="https://use.fontawesome.com/5abefb1f58.js")
        block js