doctype html
html
    head
        title= title
        link(rel='stylesheet', href='stylesheets/style.css')
        block header
    body#index-footer
        block content
        include partial/share-footer
            
        block js