doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/bower/bridgeplus_ui/public/stylesheets/menu.css')
        link(rel='stylesheet', href='/bower/bridgeplus_ui/public/stylesheets/top_wheel.css')
        link(rel='stylesheet', href='/bower/bridgeplus_ui/public/stylesheets/body.css')
        link(rel='stylesheet', href='/bower/bridgeplus_ui/public/stylesheets/footer.css')
        link(rel='stylesheet', href='/bower/bridgeplus_ui/public/stylesheets/page/index.css')
        link(rel='stylesheet', href='/bower/bridgeplus_ui/public/stylesheets/page/index_style.css')
        link(rel="stylesheet", href="/bower/bridgeplus_ui/public/stylesheets/page/index_carousel.css")
        link(rel="stylesheet", href="/bower/bridgeplus_ui/public/stylesheets/page/index_modal.css")
        block header
    body
        include partial/main_page_top
        .main_page_bottom
            include partial/to_top
            .body
                block content
            include partial/footer
        include partial/main_page_right
        include partial/menu
        script(src='/bower/raphael/raphael-min.js')
        script(src='/bower/jquery/dist/jquery.min.js')
        script(src='/bower/bridgeplus_ui/public/js/raphael_plugin.js')
        script(src='/bower/bridgeplus_ui/public/js/pjax.js')
        script(src='/bower/bridgeplus_ui/public/js/main_page_data_hook.js')
        script(src='/bower/bridgeplus_ui/public/js/main_page_wheel.js')
        script(src='/bower/bridgeplus_ui/public/js/menu.js')
        script(src='/bower/bridgeplus_ui/public/scripts/event-listener.js')
        script(src='/bower/bridgeplus_ui/public/scripts/carousel.js')
        script(src='/bower/bridgeplus_ui/public/scripts/modal.js')