doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/bower/bridgeplus_ui/public/stylesheets/menu.css')
        link(rel='stylesheet', href='/bower/bridgeplus_ui/public/stylesheets/top_wheel.css')
        link(rel='stylesheet', href='/bower/bridgeplus_ui/public/stylesheets/body.css')
        link(rel='stylesheet', href='/bower/bridgeplus_ui/public/stylesheets/footer.css')
        link(rel='stylesheet', href='/bower/bridgeplus_ui/public/stylesheets/page/index.css')
        link(rel='stylesheet', href='/bower/bridgeplus_ui/public/stylesheets/page/index_style.css')
        link(rel="stylesheet", href="/bower/bridgeplus_ui/public/stylesheets/page/index_carousel.css")
        link(rel="stylesheet", href="/bower/bridgeplus_ui/public/stylesheets/page/index_modal.css")
        link(rel="stylesheet", href="/bower/bridgeplus_ui/public/bower/owl.carousel/dist/assets/owl.carousel.min.css")
        link(rel="stylesheet", href="/bower/bridgeplus_ui/public/bower/owl.carousel/dist/assets/owl.theme.default.min.css")
        block header
    body
        include partial/main_page_top
        .main_page_bottom
            include partial/to_top
            .body
                block content
            include partial/footer
        include partial/main_page_right
        include partial/menu
        script(src='/bower/raphael/raphael-min.js')
        script(src='/bower/jquery/dist/jquery.min.js')
        script(src='/bower/bridgeplus_ui/public/js/raphael_plugin.js')
        script(src='/bower/bridgeplus_ui/public/js/pjax.js')
        script(src='/bower/bridgeplus_ui/public/js/main_page_data_hook.js')
        script(src='/bower/bridgeplus_ui/public/js/main_page_wheel.js')
        script(src='/bower/bridgeplus_ui/public/js/menu.js')
        script(src='/bower/bridgeplus_ui/public/scripts/event-listener.js')
        script(src='/bower/bridgeplus_ui/public/scripts/carousel.js')
        script(src='/bower/bridgeplus_ui/public/scripts/modal.js')
        script(src='/bower/bridgeplus_ui/public/bower/owl.carousel/dist/owl.carousel.min.js')
        script.
            function prepareCarousel() {
                $('.owl-carousel').owlCarousel({
                    items: 1,
                    lazyLoad: true,
                    loop: true,
                    autoplayTimeout: 8000,
                    autoplayHoverPause: true,
                    nav: true,
                    navRewind: true,
                    smartSpeed: 500,
                    navText: ['<i class="" style="font-family: cursive;">&lt;</i>', '<i class="" style="font-family: cursive;">&gt;</i>'],
                    autoHeight: true
                });
            }

            prepareCarousel();

            function resizeBody() {
                var h = Math.max(document.documentElement.clientHeight, window.innerHeight || 0);

                var t = $('.to-top').outerHeight();
                var f = $('#footer').outerHeight();
                var r = h - t - f;
                $('#index-footer').parent().height(r);
            }

            $(document)
                    .ready(resizeBody)
                    .on('resize', resizeBody)
            ;

        block js