doctype html
html
    head
        title= title
        include partial/site-styles
        link(rel="stylesheet", href="/bower/owl.carousel/dist/assets/owl.carousel.min.css")
        link(rel="stylesheet", href="/bower/owl.carousel/dist/assets/owl.theme.default.min.css")
        block header
        style.
            html {
                font-family: "Microsoft YaHei", "微软雅黑", "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", STHeiti, "WenQuanYi Micro Hei", SimSun, sans-serif;
            }
    body
        include partial/main_page_top
        .main_page_bottom
            include partial/to_top
            .body
                block content
            include partial/footer
        include partial/main_page_right
        include partial/menu
        script(src='/bower/raphael/raphael-min.js')
        script(src='/bower/jquery/dist/jquery.min.js')
        include partial/site-scripts
        script(src='/bower/owl.carousel/dist/owl.carousel.min.js')
        script(src="/bower/Clamp.js/clamp.js")
        script.
        block js