+ modalVideo({
    mp4: 'http://blob.bridgeplus.cn/video/mp4/zh/Marksimos%E4%BB%8B%E7%BB%8D.mp4',
    title: 'B+ 企业宣传视频',
    className: 'corp'
})(class="corp")
+ modalVideo({
    mp4: 'http://blob.bridgeplus.cn/video/mp4/zh/Marksimos%E4%BB%8B%E7%BB%8D.mp4',
    title: 'Marksimos介绍',
    className: 'marksimos-intro'
})(class="marksimos-intro")
+ modalVideo({
    mp4: 'http://blob.bridgeplus.cn/video/mp4/zh/%E5%88%86%E6%9E%90%E6%8A%A5%E5%91%8A.mp4',
    title: 'Marksimos分析报告',
    className: 'marksimos-report'
})(class="marksimos-report")
+ modalVideo({
    mp4: 'http://blob.bridgeplus.cn/video/mp4/zh/%E5%9B%A2%E9%98%9F.mov.mp4',
    title: 'Marksimos团队',
    className: 'marksimos-team'
})(class="marksimos-team")
+ modalVideo({
    mp4: 'http://blob.bridgeplus.cn/video/mp4/zh/%E6%88%98%E7%95%A5.mp4',
    title: 'Marksimos战略',
    className: 'marksimos-strategy'
})(class="marksimos-strategy")
+ modalVideo({
    mp4: 'http://blob.bridgeplus.cn/video/mp4/zh/%E5%81%9A%E5%86%B3%E7%AD%96.mp4',
    title: 'Marksimos做决策',
    className: 'marksimos-decision'
})(class="marksimos-decision")