div.widget
    h2.big-title#footer-title 关于我们
    br
    p.justify.aligned.footer-content#footer-content-1 Bridge+是由一群极具理想抱负的资深人士和青年领袖 联合打造的。他们放下麦肯锡、英孚教育等企业的光环 、婉拒名企名校的邀请,脱下西装,挽起袖子,一切从 头开始,动手改变世界。
    p.justify.aligned.footer-content#footer-content-2 这群来自两岸的热血之士,看到社会长期的人才断层,企业寻不着合适的员工、青年苦无就业方向,具备潜力的人才便如此埋没在洪流之中。我们的愿景是打造连结青年与企业间的生态系,通过核心的商业模拟技术,让青年在模拟环境中,接手一间企业,真枪实弹演练数据分析、商业决策和团队合作,如同通过飞行模拟器培训称职的机师。经反复演练,平台通过大数据为人才进行能力评级,推荐最合适的职涯导师和技能培训,并通过精准算法,为企业及人才双方自动匹配,让梦想工作找上你。
    p.justify.aligned.footer-content#footer-content-3 我们是一艘正在起飞的火箭,如果你也正在寻找一群无比热情和充满正能量的伙伴,期许通过自己的绵薄之力,为这世界带来正面的影响力,那你可能就是我们正在寻找的船员。来吧,我们正等着你!