div.right.aligned
    include ../../mixin/icon-switcher
    + icon-switcher('about-us')
    br

    div.ui.embed
        br
        br
        video(width="320", height="240", controls)
            source(src="http://blob.bridgeplus.cn/video/mp4/zh/Marksimos%E4%BB%8B%E7%BB%8D.mp4", type="video/mp4")
            object#flowplayer(data="http://blob.bridgeplus.cn/flowplayer-3.2.2.swf", type="application/x-shockwave-flash", width="320", height="240")
                param(name="movie", value="blob.bridgeplus.cn/flowplayer-3.2.2.swf")
                param(name="allowfullscreen", value="true")
                param(name="flashvars", value="config={'clip':{'url':'http://blob.bridgeplus.cn/EF_HD.mp4','autoPlay':false}}")