.body {
    opacity: 1;
    -webkit-transition: opacity 100ms ease-in;
    -moz-transition: opacity 100ms ease-in;
    -ms-transition: opacity 100ms ease-in;
    transition: opacity 100ms ease-in;
    overflow: auto;
    background-color: #f5f5f5;
}

.body.hide {
    opacity: 0;
}