/* Footer */
nav#footer {
    background: white;
    color: #333;
    padding: 20px 0 15px 0;
}

nav#footer .fnav {
    vertical-align: middle;
}

ul.footer-social li {
    display: inline-block;
    margin-right: 10px;
}

nav#footer p {
    font-size: 12px;
    margin-top: 10px;
}

#footer i.fa {
    height: 30px;
    width: 30px;
    border: 2px solid #8c8c8c;
    font-size: 20px;
    padding: 4px 5px;
    border-radius: 50%;
    color: #8c8c8c;
    transition: all 0.5s;
}

#footer i.fa:hover {
    background: #FCAC45;
    border-color: #FCAC45;
    color: #ffffff;
}