extends ../../layout
include ../../mixin/footer
block content
    #index-footer
        section#bottom
            div.container
                div.row(style="position: relative;")
                    div.col-md-1
                    div.col-md-4
                        div.group-description(style="padding-right: 30px;")
                            + description('职业发展平台', '如何做求职准备', '我们为每位同学建立基于大数据的人才模型，根据其求职意向，自动生成求职准备计划，推荐其能力提升学习和实践内容，帮助其达到目标。', '如何找到合适的职位', '我们基于匹配算法，为每位同学智能推荐合适的职位，并且通过机器学习，不断优化算法模型，让每次推荐更加符合同学的心意。', {
                                text: '我是 HR...',
                                button: '进入企业平台',
                                link: '//corp.bridgeplus.cn'
                            })
                    div.col-md-3.carousel-items
                        + carousel
                            + carouselItem("http://blob.bridgeplus.cn/images/gif/Bella.gif", "HR", "Bella 刘霞 ")(class="active", data-modal-selector=".mask.liu-xia")
                            + carouselItem("http://blob.bridgeplus.cn/images/gif/Oliver.gif", "HR", "Oliver 马家鑫")(data-modal-selector=".mask.oliver")

                    div.col-md-3.services
                        + services('热门企业：', [{
                            link: 'javascript: void(0);', text: 'EF',
                            logo: '/bower/bridgeplus_ui/public/images/partners/EF.png',
                            image: '/bower/bridgeplus_ui/public/images/services/m4.png'
                        }, {
                            link: 'javascript: void(0);',
                            text: '宝洁',
                            logo: '/bower/bridgeplus_ui/public/images/partners/PG.png',
                            image: '/bower/bridgeplus_ui/public/images/services/m2.png'
                        }, {
                            link: 'javascript: void(0);', text: '中航国际',
                            logo: '/bower/bridgeplus_ui/public/images/partners/zhong-hang.png',
                            image: '/bower/bridgeplus_ui/public/images/services/m5.png'
                        }, {
                            link: 'javascript: void(0);',
                            text: '德勤',
                            logo: '/bower/bridgeplus_ui/public/images/partners/Deloitte.png',
                            image: '/bower/bridgeplus_ui/public/images/services/m1.png'
                        }, {
                            link: 'javascript: void(0);',
                            text: '联想',
                            logo: '/bower/bridgeplus_ui/public/images/partners/lenovo.png',
                            image: '/bower/bridgeplus_ui/public/images/services/s3.png'
                        }, {
                            link: 'javascript: void(0);',
                            text: '阿里巴巴',
                            logo: '/bower/bridgeplus_ui/public/images/partners/alibaba.png',
                            image: '/bower/bridgeplus_ui/public/images/services/m1.png'
                        }])
                    div.col-md-1(style="position: static;")
                        include ../../mixin/to-right
                        + rightArrow('/portal/zh/student-portal')
        include ../../partial/footer/modals