extends ../../layout
include ../../mixin/footer
block content
    #index-footer
        section#bottom
            div.container
                div.row(style="position: relative;")
                    div.col-md-1
                    div.col-md-4
                        div.group-description(style="padding-right: 30px;")
                            + description('职业发展平台', '如何做求职准备', '我们为每位同学建立基于大数据的人才模型，根据其求职意向，自动生成求职准备计划，推荐其能力提升学习和实践内容，帮助其达到目标。', '如何找到合适的职位', '我们基于匹配算法，为每位同学智能推荐合适的职位，并且通过机器学习，不断优化算法模型，让每次推荐更加符合同学的心意。', {
                                text: '我是 HR...',
                                button: '进入企业平台',
                                link: '//corp.bridgeplus.cn'
                            })
                    div.col-md-3.carousel-items
                        + carousel
                            + carouselItem("http://blob.bridgeplus.cn/images/gif/Bella.gif", "HR", "Bella 刘霞 ")(class="active", data-modal-selector=".mask.liu-xia")
                            + carouselItem("http://blob.bridgeplus.cn/images/gif/Oliver.gif", "HR", "Oliver 马家鑫")(data-modal-selector=".mask.oliver")

                    div.col-md-3.services
                        + services_title('热门企业：')
                            img(src="/bower/bridgeplus_ui/public/images/partners/partners.png", alt="热门企业", style="max-width: 100%;")
                    div.col-md-1(style="position: static;")
                        include ../../mixin/to-right
                        + rightArrow('/portal/zh/student-portal')
        include ../../partial/footer/modals