extends ../../layout
include ../../mixin/footer
block content
    #index-footer
        section#bottom
            div.container
                div.row(style="position: relative;")
                    div.col-md-1
                    div.col-md-4
                        div.group-description(style="padding-right: 30px;")
                            include ../../partial/footer/column-1
                    div.col-md-3.carousel-items
                        include ../../partial/footer/column-2

                    div.col-md-3.services
                        include ../../partial/footer/column-3
                    div.col-md-1(style="position: static; text-align: right;")
                        include ../../partial/footer/column-4
        include ../../partial/footer/modals