extends ../../layout
include ../../mixin/footer
block content
    #index-footer
        section#bottom
            div.container
                div.row(style="position: relative;")
                    div.col-md-1
                    div.col-md-5
                        div.group-description(style="padding-right: 30px;")
                            include ../../partial/join-us/text
                    div.col-md-6
                        include ../../partial/about-us/video