extends ../../layout
block header
block content
    include ../../mixin/team-members
    include ../../mixin/icon-switcher
    #index-footer
        section#bottom
            div.container
                + footer-header('团队成员', 'team')
                div.owl-carousel.owl-theme
                    div.horizontal.very.relaxed.container
                        + teamMembers([{
                            picture: '/bower/bridgeplus_ui/public/images/team/Julia.png',
                            name: 'Julia Li',
                            title: '项目发起人',
                            intro: '合得国际创始人,美国商战模拟游戏协会董事, 麻省理工学院媒体实验室中国特别顾问, 商战模拟和体验式学习协会总监, 哈佛商学院上海校友会副主席'
                        }, {
                            picture: '/bower/bridgeplus_ui/public/images/team/qian-shen.png',
                            name: '钱申',
                            title: 'CTO',
                            intro: '11年开发管理经验,EFLabs – 英孚教育,技术开发经理,英孚大中华区成人英语在线 网站与后台系统研发,Englishtown 全球在线教室、每日英语等产品线。说宝堂Saybot ,高级软件工程师,儿童英语教育网站;日 立数据,软件工程师'
                        }, {
                            picture: '/bower/bridgeplus_ui/public/images/team/Joseph.png',
                            name: '周国元',
                            title: '项目顾问',
                            intro: '合得国际CFO,央企海外投资并购平台董事 总经理,麦肯锡(美国/香港),安永(美国), 凯捷(美国),芝加哥大学MBA'
                        }, {
                            picture: '/bower/bridgeplus_ui/public/images/team/Jack.png',
                            name: '王康',
                            title: '院校发展总监',
                            intro: '江汉大学国际经济与贸易。连续创业者,在校期间创办多家公司, 营收累计破千万。多年专注于校园领域创业'
                        }])
                    div.horizontal.very.relaxed.container
                        + teamMembers([{
                            picture: '/bower/bridgeplus_ui/public/images/team/shuang-le.png',
                            name: '陈双乐',
                            title: '产品总监',
                            intro: '浙江大学电子信息工程,博世亚太区供应链 管理, AIESEC浙江大学分会主席,印度苏 拉特农村“微金融”公益调研组长'
                        }, {
                            picture: '/bower/bridgeplus_ui/public/images/team/Samuel.png',
                            name: '莊承恩',
                            title: '商务拓展总监',
                            intro: '台湾政治大学国际商务,Plug and Play孵化 团队(硅谷),富邦金控(台湾)分析师、 AIESEC台湾总会商务拓展主席'
                        }, {
                            picture: '/bower/bridgeplus_ui/public/images/team/Andy.png',
                            name: '杨哲恺',
                            title: '用户增长总监',
                            intro: '台湾交通大学工业工程与管理,本田汽车(哥 伦比亚)供应链,AIESEC台湾总会领导成员'
                        }, {
                            picture: '/bower/bridgeplus_ui/public/images/team/Marvel.png',
                            name: '朱琦 ',
                            title: '技术开发总监',
                            intro: 'NET开发、数据库使用与系统架构专家,曾 供职于明基,英孚等多家跨国外企资深工程师'
                        }])
block js