extends ../../layout
block header
block content
    include ../../mixin/videos
    include ../../mixin/icon-switcher
    #index-footer
        section#bottom
            div.container
                + footer-header('视频介绍', 'video')
                div.owl-carousel.owl-theme
                    div.horizontal.very.relaxed.container
                        + videos([{
                            poster: '/bower/bridgeplus_ui/public/images/poster/marksimos_introduce.jpg',
                            title: 'B+ 企业宣传视频',
                            className: 'corp'
                        }, {
                            poster: '/bower/bridgeplus_ui/public/images/poster/marksimos_introduce.jpg',
                            title: 'Marksimos介绍',
                            className: 'marksimos-intro'
                        }, {
                            poster: '/bower/bridgeplus_ui/public/images/poster/marksimos_report.jpg',
                            title: 'Marksimos分析报告',
                            className: 'marksimos-report'
                        }, {
                            poster: '/bower/bridgeplus_ui/public/images/poster/marksimos_team.jpg',
                            title: 'Marksimos团队',
                            className: 'marksimos-team'
                        }, {
                            poster: '/bower/bridgeplus_ui/public/images/poster/marksimos_strategy.jpg',
                            title: 'Marksimos战略',
                            className: 'marksimos-strategy'
                        }, {
                            poster: '/bower/bridgeplus_ui/public/images/poster/marksimos_decision.jpg',
                            title: 'Marksimos做决策',
                            className: 'marksimos-decision'
                        }])

        include ../../mixin/footer
        include ../../partial/video/video-modals
block js