extends ../../layout
block header
block content
    include ../../mixin/videos
    include ../../mixin/icon-switcher
    #index-footer
        section#bottom
            div.container
                + footer-header('视频介绍', 'video')
                div.owl-carousel.owl-theme
                    div.horizontal.very.relaxed.container
                        + videos([{
                            poster: '/bower/bridgeplus_ui/public/images/poster/marksimos_introduce.jpg',
                            title: 'Marksimos介绍',
                            mp4: 'http://blob.bridgeplus.cn/video/mp4/zh/Marksimos%E4%BB%8B%E7%BB%8D.mp4',
                            className: 'marksimos-intro'
                        }, {
                            mp4: 'http://blob.bridgeplus.cn/video/mp4/zh/%E5%88%86%E6%9E%90%E6%8A%A5%E5%91%8A.mp4',
                            poster: '/bower/bridgeplus_ui/public/images/poster/marksimos_report.jpg',
                            title: 'Marksimos分析报告',
                            className: 'marksimos-report'
                        }, {
                            mp4: 'http://blob.bridgeplus.cn/video/mp4/zh/%E5%9B%A2%E9%98%9F.mov.mp4',
                            poster: '/bower/bridgeplus_ui/public/images/poster/marksimos_team.jpg',
                            title: 'Marksimos团队',
                            className: 'marksimos-team'
                        }, {
                            mp4: 'http://blob.bridgeplus.cn/video/mp4/zh/%E6%88%98%E7%95%A5.mp4',
                            poster: '/bower/bridgeplus_ui/public/images/poster/marksimos_strategy.jpg',
                            title: 'Marksimos战略',
                            className: 'marksimos-strategy'
                        }, {
                            mp4: 'http://blob.bridgeplus.cn/video/mp4/zh/%E5%81%9A%E5%86%B3%E7%AD%96.mp4',
                            poster: '/bower/bridgeplus_ui/public/images/poster/marksimos_decision.jpg',
                            title: 'Marksimos做决策',
                            className: 'marksimos-decision'
                        }])

        include ../../mixin/footer
        include ../../partial/video/video-modals
block js