right-text.jadediv.widget
    h2.big-title#footer-title &nbsp;
    br
    p.justify.aligned.footer-content#footer-content-4 我们期待的你具备以下特质
        br
        |- 自我驱策能力
        br
        |- 数据导向的工作方式
        br
        |- 优异的情商和逆商
        br
        |- 对于模糊、高不确定问题的解决能力
    p.justify.aligned.footer-content#footer-content-5 如果你有兴趣的是产品开发与设计,我们希望你
        br
        |- 对产品和美学具极强的控制欲
        br
        |- 能赋予设计与产品独一无二的灵魂
    p.justify.aligned.footer-content#footer-content-6 我们正在寻找以下领域的
        br
        |- 平面设计 - 市场营销 - 内容运营 - 活动策划
        br
        |- 产品开发 - 产品运营 - 商务拓展 - 媒体公关
        br
    p.justify.aligned.footer-content#footer-content-6 对我们公司有兴趣的你
        br
        | 请联系:talent@bridgeplus.me
