right-text.jadediv.widget
    div.left.aligned.footer-content#footer-content-4 我们期待的你具备以下特质
    ul.footer-content
        li 自我驱策能力
        li 数据导向的工作方式
        li 优异的情商和逆商
        li 对于模糊、高不确定问题的解决能力
    br
    div.left.aligned.footer-content#footer-content-5 如果你有兴趣的是产品开发与设计,我们希望你
    ul.footer-content
        li 对产品和美学具极强的控制欲
        li 能赋予设计与产品独一无二的灵魂
    br
    div.left.aligned.footer-content#footer-content-6 我们正在寻找以下领域的
    ul.footer-content
        li 平面设计 - 市场营销 - 内容运营 - 活动策划
        li 产品开发 - 产品运营 - 商务拓展 - 媒体公关
        br
    p.left.aligned.footer-content#footer-content-6 对我们公司有兴趣的你
        br
        | 请联系:&nbsp;
        a(href="mailto:talent@bridgeplus.me") talent@bridgeplus.me
