div.widget
    h2.big-title#footer-title 加入我们
    br
    p.justify.aligned.footer-content#footer-content-1 成立至今，Bridge+正以飞快的速度成长著
        br
        | 要促成一间新创公司的成长
        br
        | 除了市场的拓展、技术的领先
        br 
        | 最重要的因素是
        br
        | 人才
    p.justify.aligned.footer-content#footer-content-2 所以，我们想邀请
        br
        | 期望要让生命无愧
        br
        | 有不一样CareerLife的你
        br
        | 走一波无悔的路
    p.justify.aligned.footer-content#footer-content-3 我们能提供给你
        br
        |- 快速成长的个人成长与职涯发展轨迹
        br
        |- 一群有趣(污)却又聪明的创业伙伴
        br
        |- 较独自创业更低的承受风险获取成功
        br
        |- 来自HBS、MIT、CEIBS、UCHICAGO、PKU、HKU、FDU等的校友资源与互联网、咨询、消费品、全球教育行业人脉资源
        br
        |- 有竞争力的工资与股份、期权