div.right.aligned
    include ../../mixin/icon-switcher
    + icon-switcher('contact-us')
    br

div
    image(src="/bower/bridgeplus_ui/public/images/bplus_fuwuhao_noborder.jpg" style="width:300px;height:300px;margin-bottom:100px")