div.widget
    p.left.aligned.footer-content#footer-content-1 招聘及商务合作 mytalent@bridgeplus.me
        br
        | 校园推广与合作 campus@bridgeplus.me
        br
        | 平台反馈与建议 support@bridgeplus.me
        br
    p.justify.aligned.footer-content#footer-content-2 地址 : 上海市黄浦区人民路885号,淮海中华大厦303室