div.widget
    p.left.aligned.footer-content
        span 招聘及商务合作&nbsp;
        a(href="mailto:mytalent@bridgeplus.me") mytalent@bridgeplus.me
        br
        span 校园推广与合作&nbsp;
        a(href="campus@bridgeplus.me") campus@bridgeplus.me
        br
        span 平台反馈与建议&nbsp;
        a(href="support@bridgeplus.me") support@bridgeplus.me
        br
    p.justify.aligned.footer-content 地址 : 上海市黄浦区人民路885号,淮海中华大厦303室