include ../mixin/footer

div.container.to-top
    a#to-top-link.arrow(href="javascript: void(0);", onclick="$(document).trigger('show_wheel');")
        | &uarr;
section#bottom
    div.container
        div.row(style="position: relative;")
            div.col-md-1
            div.col-md-4
                div.group-description(style="padding-right: 30px;")
                    include footer/column-1
            div.col-md-3.carousel-items
                include footer/column-2

            div.col-md-3.services
                include footer/column-3
            div.col-md-1(style="position: static; text-align: right;")
                include footer/column-4

include footer/modals
