script(src="/bower/jquery/dist/jquery.min.js")
script(src="/bower/bridgeplus_ui/public/scripts/event-listener.js")
script(src="/bower/bridgeplus_ui/public/scripts/carousel.js")
script(src="/bower/bridgeplus_ui/public/scripts/modal.js")