.main_page_right
    #pic-entrance
        .left-arrow
            img.arrow-img(src='/bower/bridgeplus_ui/public/images/GO.png')
        .pic-item.style-one
            .pic-text-area
                .intro
                    .small-text I'm STUDENT
                    div 我是学生
                .title
                    span 个人发展是硬道理
                .detail
                    span 我们通过体验式的学习内容,帮助大学生提高综合能力素质
                .button
                    a(href='/cmpt',use-pjax="false") 进入学生平台
            img.pic-img(src='/bower/bridgeplus_ui/public/images/left.png', alt='student')
        .pic-item.style-two
            .pic-text-area
                .intro
                    .small-text I'm MENTOR
                    div 我是导师
                .title
                    span 经验与知识共享
                .detail
                    span 我们为导师搭建和大学生交流的平台,用过来人的经验帮助他们
                .button
                    a(href='//www.wenjuan.com/s/bIvYra/',target='_blank',use-pjax="false") 进入导师平台
                .news
                    .news-title
                        span.title-zh 最新动态
                        span.title-en NEWS
                    a.news-content(href='//mp.weixin.qq.com/s?__biz=MzAwNzM2MzI5OA==&mid=2652206471&idx=1&sn=6613e82224518864ab7d0e690162fc6d&scene=0#wechat_redirect',target='_blank',use-pjax="false")
                        div 2016/7/28
                        div 最新 | Bridge+实习生招聘
                    a.news-content(href='//mp.weixin.qq.com/s?__biz=MzAwNzM2MzI5OA==&mid=2652206468&idx=1&sn=191ba1e87554d0b93d38e8a71a699bb8&scene=0#wechat_redirect',target='_blank',use-pjax="false")
                        div 2016/7/25
                        div “小白成长计划“官方体验赛赛事回顾
                    div.news-bottom
                        .news-separator
                        img.news-logo(src='/bower/bridgeplus_ui/public/images/logo3.png', alt='logo')
                        .news-more
                            div left
                            div right
            img.pic-img(src='/bower/bridgeplus_ui/public/images/middle.jpg', alt='teacher')
        .pic-item.style-three
            .pic-text-area
                .intro
                    .small-text I'm CORPORATE
                    div 我是企业
                .title
                    span 人才是企业源动力
                .detail
                    span 我们通过人才素质模型和匹配算法,为企业推荐最合适的人才
                .button
                    a(href='//corp.bridgeplus.cn',use-pjax="false") 进入企业平台
            img.pic-img(src='/bower/bridgeplus_ui/public/images/right.png', alt='corporation')
