a.logo_top(href="/")
.main_page_wheel
    #bridge_plus_intro
    #bridge_plus_wheel
    #bridge_plus_wheel_text
        .wheel_text.svg_group_2
            p 找工作从未如此简单！
            p 基于大数据的职位匹配，合我心意
        .wheel_text.svg_group_1
            p 选择比努力更重要！
            p 线上约见导师指点迷津，少走弯路
        .wheel_text.svg_group_0
            p 学习时间要花在刀刃上！
            p 全球领先的商战模拟，边玩边学
    #logo
        .logo_left
            | bridging the
        .logo_img
            .logo_img_mask
                a(href='/portal/zh/about-us')
                    | About Us
                    br
                    | 关于我们
        .logo_right
            | talent gap
    a#game_link(href="/zh/youth", use-pjax="false", target="_blank")