.menu
    .head
        .menu-controller
            .menu-button
                span
        .menu-item
            .item-group
                a.item-button(href='/') 首页/HOME
                a.item-button(href='/portal/zh/about-us') 关于我们/ABOUT US
                a.item-button(href='javascript: void(0);') 最新动态/NEWS
            .item-group
                a.item-button(href='/zh/cmpt', use-pjax="false") 边玩边学/LEARNING
                a.item-button(href='/study-center/', use-pjax="false") 约导师/MENTOR
                a.item-button(href='/opportunity-detail', use-pjax="false") 找工作/OPPORTUNITY
            .item-group
                a.item-button(href='/portal/zh/contact-us') 联系我们/CONTACT US
                a.item-button(href='/portal/zh/join-us') 加入我们/JOIN US
            .item-separator
            .item-group
                a.item-button(href='/zh/cmpt', use-pjax="false") 我是学生
                a.item-button(href='//www.wenjuan.com/s/bIvYra/',target='_blank',use-pjax="false") 我是导师
                a.item-button(href='//corp.bridgeplus.cn', use-pjax="false") 我是企业
        div.fixed-wechat-img(for="wechat")
            img(src="/bower/bridgeplus_ui/public/images/bplus_fuwuhao_noborder.jpg")
        .menu-footer
            #wechat.popup-trigger
                img(src="/bower/bridgeplus_ui/public/images/menu/wechat-icon.png")
        div.popup(for="wechat")
            img(src="/bower/bridgeplus_ui/public/images/bplus_fuwuhao_noborder.jpg")
