.menu
    .head(style='overflow: auto;')
        .menu-controller
            .menu-button
                span
        .menu-item
            .item-group
                a.item-button(href='/') 首页/HOME
                a.item-button(href='/portal/zh/about-us') 关于我们/ABOUT US
                a.item-button(href='javascript: void(0);') 最新动态/NEWS
            .item-group
                a.item-button(href='/zh/cmpt', use-pjax="false") 边玩边学/LEARNING
                a.item-button(href='/study-center/', use-pjax="false") 约导师/MENTOR
                a.item-button(href='/opportunity-detail', use-pjax="false") 找工作/OPPORTUNITY
            .item-group
                a.item-button(href='/portal/zh/contact-us') 联系我们/CONTACT US
                a.item-button(href='/portal/zh/join-us') 加入我们/JOIN US
            .item-separator
            .item-group
                a.item-button(href='/zh/cmpt', use-pjax="false") 我是学生
                a.item-button(href='javascript: void(0);') 我是导师
                a.item-button(href='//corp.bridgeplus.cn', use-pjax="false") 我是企业
            .item-separator
            .item-group
                .item-button 微博icon
                .item-button 微信icon

        .menu-footer
            #wechat.popup-trigger
                img(src="/bower/bridgeplus_ui/public/images/menu/wechat-icon.png")

div.popup(for="wechat")
    img(src="/bower/bridgeplus_ui/public/images/bplus_fuwuhao_noborder.jpg")

style(type="text/css").
    .menu-footer {
        position: absolute;
        right: 0;
        bottom: 0;
        padding: 10px;
    }

    .popup {
        position: absolute;
        right: 0;
        bottom: 50px;
        display: none;
        z-index: 9999;
    }

    .popup > img {
        padding: 10px;
        background-color: white;
        border: solid 1px #d4d4d5;
        box-sizing: border-box;
    }

    .popup:after {
        content: '';
        display: block;
        background-color: white;
        position: absolute;
        left: 15px;
        bottom: -5px;
        border-left: solid 10px #e61c36;
        border-right: solid 10px #e61c36;
        border-top: solid 10px white;
        border-bottom: 0;
    }