if false
    + js('/bower/bridgeplus_ui/public/js/raphael_plugin.js')
    + js('/bower/bridgeplus_ui/public/js/pjax.js')
    + js('/bower/bridgeplus_ui/public/js/main_page_data_hook.js')
    + js('/bower/bridgeplus_ui/public/js/main_page_wheel.js')
    + js('/bower/bridgeplus_ui/public/js/menu.js')
    + js('/bower/bridgeplus_ui/public/scripts/event-listener.js')
    + js('/bower/bridgeplus_ui/public/scripts/carousel.js')
    + js('/bower/bridgeplus_ui/public/scripts/resize-footer-body.js')
    + js('/bower/bridgeplus_ui/public/scripts/clamp.js')
    + js('/bower/bridgeplus_ui/public/scripts/popup.js')
    + js('/bower/bridgeplus_ui/public/scripts/tracking.js')
else
    + js("/bower/bridgeplus_ui/public/dist/js/all-scripts.min.js")