if false
    script(src='/bower/bridgeplus_ui/public/js/raphael_plugin.js')
    script(src='/bower/bridgeplus_ui/public/js/pjax.js')
    script(src='/bower/bridgeplus_ui/public/js/main_page_data_hook.js')
    script(src='/bower/bridgeplus_ui/public/js/main_page_wheel.js')
    script(src='/bower/bridgeplus_ui/public/js/menu.js')
    script(src='/bower/bridgeplus_ui/public/scripts/event-listener.js')
    script(src='/bower/bridgeplus_ui/public/scripts/carousel.js')
    script(src='/bower/bridgeplus_ui/public/scripts/modal.js')
else
    script(src="/bower/bridgeplus_ui/public/scripts/all-scripts.min.js")