if false
    link(rel='stylesheet', href='/bower/bridgeplus_ui/public/stylesheets/menu.css')
    link(rel='stylesheet', href='/bower/bridgeplus_ui/public/stylesheets/top_wheel.css')
    link(rel='stylesheet', href='/bower/bridgeplus_ui/public/stylesheets/body.css')
    link(rel='stylesheet', href='/bower/bridgeplus_ui/public/stylesheets/footer.css')
    link(rel='stylesheet', href='/bower/bridgeplus_ui/public/stylesheets/page/index.css')
    link(rel='stylesheet', href='/bower/bridgeplus_ui/public/stylesheets/page/index_style.css')
    link(rel="stylesheet", href="/bower/bridgeplus_ui/public/stylesheets/page/index_carousel.css")
    link(rel="stylesheet", href="/bower/bridgeplus_ui/public/stylesheets/page/index_modal.css")
else
    link(rel="stylesheet", href="/bower/bridgeplus_ui/public/stylesheets/all-styles.min.css")