+ modalBox('/bower/bridgeplus_ui/public/images/zhou-guo-yuan.png', '周国元 Joseph Zhou', 'HCD 合得合伙人兼首席财务官', '/ content / content / content / content // content / content // content / content // content / content // content / content // content / content // content / content // content / content // content / content // content / content // content / content // content / content // content / content // content / content // content / content // content / content /')(class="zhou-guo-yuan")

+ modalBox('/bower/bridgeplus_ui/public/images/zhou-guo-yuan.png', 'test', 'test', 'test content')(class="test")

+ modalBox('/bower/bridgeplus_ui/public/images/zhou-guo-yuan.png', 'test again', 'test again', 'test again content')(class="test-again")
