div(style="background-color: #22292f; margin-bottom: 0;")
    div.ui.container
        p &nbsp;
        div.ui.fluid.eight.item.text.menu
            a.item(href="/about-us", style="align-self: flex-start; justify-content: flex-start;")
                span(style="color: #aaa;") |
                span &nbsp;
                span(style="color: white;") 关于我们
            a.item(href="/school", style="align-self: flex-start; justify-content: flex-start;")
                span(style="color: #aaa;") |
                span &nbsp;
                span(style="color: white;") 校园合作
            a.item(href="/contact-us", style="align-self: flex-start; justify-content: flex-start;")
                span(style="color: #aaa;") |
                span &nbsp;
                span(style="color: white;") 联系我们
            a.item(href="/statement", style="align-self: flex-start; justify-content: flex-start;")
                span(style="color: #aaa;") |
                span &nbsp;
                span(style="color: white;") 服务声明
            div.right.one.item.text.menu(style="align-self: center; flex-direction: column;")
                img.ui.tiny.image(src="#{cdn.normal}img/wechat/bplus_fuwuhao.jpg?#{cdn.version}")
                div(style="color: white;")
                    div 关注官方微信
                    div 获取最新消息
        p(style="color: #aaa; margin-top: -70px; position: absolute;") © 2015 Bridge+ 版权所有 | 沪ICP备13045400号
        div.ui.horizontal.divider
        div.ui.horizontal.divider
        div.ui.horizontal.divider
        div.ui.horizontal.divider