+ carousel(data-group="svg_group_0")
    + carouselItem("/bower/bridgeplus_ui/public/images/gif/student/Heping.gif", "东北大学 机械工程", "何平")(class="active", data-modal-selector=".mask.he-ping")
    + carouselItem("/bower/bridgeplus_ui/public/images/gif/student/Katrina.gif", "华侨大学 工商管理", "陈翠萍")(data-modal-selector=".mask.chen-cuiping")
    + carouselItem("/bower/bridgeplus_ui/public/images/gif/student/Katherine.gif", "华东师范大学 会计学 ", "卓雪")(data-modal-selector=".mask.zhuo-xue")

+ carousel(data-group="svg_group_1")
    + carouselItem("/bower/bridgeplus_ui/public/images/gif/teacher/Joseph.gif", "HCD 合得合伙人兼首席财务官", "周国元 Joseph Zhou")(class="active", data-modal-selector=".mask.zhou-guo-yuan")
    + carouselItem("/bower/bridgeplus_ui/public/images/gif/teacher/Anil.gif", "test again", "Anil")(data-modal-selector=".mask.anil")
    + carouselItem("/bower/bridgeplus_ui/public/images/gif/teacher/Oliver.gif", "test", "Oliver")(data-modal-selector=".mask.oliver")

+ carousel(data-group="svg_group_2")
    + carouselItem("/bower/bridgeplus_ui/public/images/gif/hr/Bella.gif", "HR", "Bella 刘霞 ")(class="active", data-modal-selector=".mask.liu-xia")
    + carouselItem("/bower/bridgeplus_ui/public/images/gif/hr/Heather.gif", "HR", "Heather 宗贻萍 ")(data-modal-selector=".mask.zong-yiping")