+ services('能力提升：', [{
    link: 'javascript: void(0);',
    text: '数据分析'
}, {link: 'javascript: void(0);', text: '团队合作'}, {
    link: 'javascript: void(0);',
    text: '战略思维'
}, {link: 'javascript: void(0);', text: '商业洞察'}, {
    link: 'javascript: void(0);',
    text: '快速学习'
}])(data-group="svg_group_0")
+ services('热门主题：', [{
    link: 'javascript: void(0);',
    text: '商战点评'
}, {link: 'javascript: void(0);', text: '人生辅导'}, {
    link: 'javascript: void(0);',
    text: '职涯规划'
}, {link: 'javascript: void(0);', text: '行业经验'}, {
    link: 'javascript: void(0);',
    text: '求职技巧'
}])(data-group="svg_group_1")
+ services('热门企业：', [{
    link: 'javascript: void(0);',
    text: '阿里巴巴'
}, {link: 'javascript: void(0);', text: '华为'}, {
    link: 'javascript: void(0);',
    text: '宝洁'
}, {link: 'javascript: void(0);', text: '德勤'}, {
    link: 'javascript: void(0);',
    text: '可口可乐'
}, {link: 'javascript: void(0);', text: 'EF'}, {
    link: 'javascript: void(0);', text: '中航国际'
}])(data-group="svg_group_2")