+ services('能力提升：', [{
    link: 'javascript: void(0);',
    text: '数据分析',
    image: 'images/services/m1.png'
}, {
    link: 'javascript: void(0);', text: '团队合作', image: "images/services/s1.png"
}, {
    link: 'javascript: void(0);',
    text: '战略思维',
    image: 'images/services/m2.png'
}, {link: 'javascript: void(0);', text: '商业洞察', image: "images/services/s1.png"}, {
    link: 'javascript: void(0);',
    text: '快速学习',
    image: 'images/services/s3.png'
}])(data-group="svg_group_0")
+ services('热门主题：', [{
    link: 'javascript: void(0);',
    text: '商战点评',
    image: 'images/services/m1.png'
}, {link: 'javascript: void(0);', text: '人生辅导', image: "images/services/s1.png"}, {
    link: 'javascript: void(0);',
    text: '职涯规划',
    image: 'images/services/m2.png'
}, {link: 'javascript: void(0);', text: '行业经验', image: "images/services/s1.png"}, {
    link: 'javascript: void(0);',
    text: '求职技巧',
    image: 'images/services/s3.png'
}])(data-group="svg_group_1")
+ services('热门企业：', [{
    link: 'javascript: void(0);',
    text: '阿里巴巴',
    image: 'images/services/m1.png'
}, {link: 'javascript: void(0);', text: '华为', image: 'images/services/m1.png'}, {
    link: 'javascript: void(0);',
    text: '宝洁',
    image: 'images/services/m2.png'
}, {link: 'javascript: void(0);', text: '德勤', image: 'images/services/m1.png'}, {
    link: 'javascript: void(0);',
    text: '可口可乐',
    image: 'images/services/s3.png'
}, {
    link: 'javascript: void(0);', text: 'EF',
    image: 'images/services/m4.png'
}, {
    link: 'javascript: void(0);', text: '中航国际',
    image: 'images/services/m5.png'
}])(data-group="svg_group_2")