+ carousel(data-group="svg_group_0")
    + carouselItem("http://web.c-gp.com/content/themes/cgpweb/img/anime_osa.gif", "学生背书1", "周国元 Joseph Zhou")(class="active", data-modal-selector=".mask.zhou-guo-yuan")
    + carouselItem("http://web.c-gp.com/content/themes/cgpweb/img/anime_higashi.gif", "学生背书2", "test")(data-modal-selector=".mask.test")
    + carouselItem("http://web.c-gp.com/content/themes/cgpweb/img/anime_murakoshi.gif", "学生背书3", "test again")(data-modal-selector=".mask.test-again")
+ carousel(data-group="svg_group_1")
    + carouselItem("http://web.c-gp.com/content/themes/cgpweb/img/anime_osa.gif", "HCD 合得合伙人兼首席财务官", "周国元 Joseph Zhou")(class="active", data-modal-selector=".mask.zhou-guo-yuan")
    + carouselItem("http://web.c-gp.com/content/themes/cgpweb/img/anime_higashi.gif", "test", "test")(data-modal-selector=".mask.test")
    + carouselItem("http://web.c-gp.com/content/themes/cgpweb/img/anime_murakoshi.gif", "test again", "test again")(data-modal-selector=".mask.test-again")
+ carousel(data-group="svg_group_2")
    + carouselItem("http://web.c-gp.com/content/themes/cgpweb/img/anime_osa.gif", "HR 1 背书", "周国元 Joseph Zhou")(class="active", data-modal-selector=".mask.zhou-guo-yuan")
    + carouselItem("http://web.c-gp.com/content/themes/cgpweb/img/anime_higashi.gif", "H$ 2 背书 ", "test")(data-modal-selector=".mask.test")
    + carouselItem("http://web.c-gp.com/content/themes/cgpweb/img/anime_murakoshi.gif", "HR 3 背书again", "test again")(data-modal-selector=".mask.test-again")