+ description('体验式学习平台', '全球领先的商战模拟', '游戏者在逼真、无风险的虚拟环境下运营一家公司。通过激励团队分享与体验式学习的方式，鼓励学员锻炼管理者的视角，全方位了解整个市场及其运作方式。', '高效的学习方式', '根据美国缅因州国家训练实验室提出的学习金字塔理论，通过体验式学习的效率可以达到75%，远远高于传统“说教式”的被动学习方式。', {
    text: '我是学生...',
    button: '进入学生平台',
    link: '/study-center/'
})(data-group="svg_group_0")
+ description('导师辅导平台', '经验与知识共享', '各行各业的大咖导师在线为大学生提供咨询辅导，为他们指点迷津，让经验与知识有效地创造价值。', '让未来不再迷茫', '大学生通过和导师的交流，打破信息壁垒，便利、精准地获取需要的经验和知识，明确方向，促进个人发展。', {
    text: '我是导师...',
    button: '进入导师平台',
    link: 'javascript: void(0);'
})(data-group="svg_group_1")
+ description('职业发展平台', '如何做求职准备', '我们为每位同学建立基于大数据的人才模型，根据其求职意向，自动生成求职准备计划，推荐其能力提升学习和实践内容，帮助其达到目标。', '如何找到合适的职位', '我们基于匹配算法，为每位同学智能推荐合适的职位，并且通过机器学习，不断优化算法模型，让每次推荐更加符合同学的心意。', {
    text: '我是 HR...',
    button: '进入企业平台',
    link: '//corp.bridgeplus.cn'
})(data-group="svg_group_2")