+ modalBox('/bower/bridgeplus_ui/public/images/gif/student/Heping.gif', '何平', '东北大学 机械工程', '喜欢Bridge+逼真的商业环境，它能反射出自己真实的处事方式和态度。我从大赛胜出后被推荐到上海的一家新创公司工作。现在看着周围都是比我优秀的同事们，我真的很感谢Bridge+带给我的职业发展机会。')(class="he-ping")

+ modalBox('/bower/bridgeplus_ui/public/images/gif/student/Katrina.gif', '陈翠萍', '华侨大学 工商管理 ', 'Bridge+为一群热血激情的有志青年架起了交流的桥梁，同时提供了接触企业人士的渠道。通过与大牛前辈们的交流，让我对学习和工作有了更开阔的认识。')(class="chen-cuiping")

+ modalBox('/bower/bridgeplus_ui/public/images/gif/student/Katherine.gif', '卓雪', '华东师范大学 会计学 ', '在求职季，从商业模拟中获得的经验，让我比其他同学有更好的商业敏感度与大局观，帮助我在面试中脱颖而出。同时Bridge+推荐给我的周老师帮助我反思和提升自己，真的非常感谢他！')(class="zhuo-xue")

+ modalBox('/bower/bridgeplus_ui/public/images/zhou-guo-yuan.png', '周国元 Joseph Zhou', 'HCD 合得合伙人兼首席财务官', '/ content / content / content / content // content / content // content / content // content / content // content / content // content / content // content / content // content / content // content / content // content / content // content / content // content / content // content / content // content / content // content / content // content / content /')(class="zhou-guo-yuan")

+ modalBox('/bower/bridgeplus_ui/public/images/gif/teacher/Oliver.gif', 'test', 'test', 'test content')(class="oliver")

+ modalBox('/bower/bridgeplus_ui/public/images/gif/teacher/Anil.gif', 'test again', 'test again', 'test again content')(class="anil")

+ modalBox('/bower/bridgeplus_ui/public/images/gif/hr/Bella.gif', 'Bella 刘霞 ', 'HR', 'Bridge+提供的人才能力信息帮助我能够按照岗位需求，更精准地筛选人才。我相信这是未来招聘的趋势，也邀请更多的同学们参与到这个公平竞争的平台上来。 ')(class="liu-xia")

+ modalBox('/bower/bridgeplus_ui/public/images/gif/hr/Heather.gif', 'Heather 宗贻萍 ', 'HR', '接触了几个Bridge+推荐的同学，发现他们都有共同的特征，热情、踏实又不乏创造力。对于应届生，其实我们更看重的就是他们的这些基本素质，我们称他们为高潜人才。 ')(class="zong-yiping")